
#Calculator{
    margin: auto;
    border: 1px solid black;
    background-color: rgba(100, 161, 141, 0.336);
    border-radius: 12px;
    width: 220px;
    }
#display{
    margin: 15px 15px;
    border-radius: 3px;
    width: 84%;
    height: 50px;
    background-color: rgb(228, 234, 236);
}
#buttonContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 22px;
    margin-bottom: 15px;
}
.butn{
    border: 1px solid gray;
    border-radius: 3px;
    background-color: rgba(43, 116, 116, 0.39);
    width: 52px;
    height: 40px;
    margin: 3px 2px;
    cursor: pointer;
}